{
  "env": {
    "node": true,
    "mocha": true,
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "semi": 0,
    "no-unused-vars": 0,
    "arrow-body-style": 0,
    "react/jsx-filename-extension": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-closing-bracket-location": [1, "props-aligned"],
    "react/no-find-dom-node": 0
  }
}
