.AboveFold {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(345deg, white, var(--gray200));
  --main-size: 60vw;
}

.AboveFold-container {
  width: var(--main-size);
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.AboveFold-main-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 65vw;
  max-width: 610px;
  height: 100vh;
  margin-right: 100px;
  margin-left: 10vw;
}

.AboveFold-hero-container {
  position: absolute;
  top: 0;
  left: var(--main-size);
  right: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.AboveFold-hero {
  max-width: 90%;
  max-height: 85vh;
}

.AboveFold-main-container > .LogoName {
  position: absolute;
  top: 50px;
  left: 0;
}

.AboveFold-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboveFold-title {
  color: var(--cover-black) !important;
  font-weight: 500 !important;
  text-align: center;
}

.AboveFold-subtitle {
  font-size: 1.3rem !important;
  margin: 25px 0 70px !important;
  color: var(--gray700) !important;
  font-weight: 300 !important;
  text-align: center;
}

.AboveFold-buttons > button {
  margin: 0 3vw;
}

.AboveFold-format-list {
  margin-top: 30px;
}

.AboveFold-format-list > span {
  font-size: 0.9rem !important;
}

@media only screen and (min-width: 981px) and (max-height: 770px) {
  .AboveFold-main {
    margin-top: 15vh;
  }
}

@media only screen and (min-width: 981px) and (max-height: 500px) {
  .AboveFold-main-container > .LogoName {
    top: 10px;
  }

  .AboveFold-main {
    margin-top: 25vh;
  }
}

@media only screen and (max-width: 980px) {
  .AboveFold {
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
  }

  .AboveFold-container {
    width: 85vw;
    height: auto;
    justify-content: center;
  }

  .AboveFold-main-container {
    width: auto;
    flex-direction: column;
    height: auto;
    margin: 0;
    margin-top: 60px;
  }

  .AboveFold-hero-container {
    position: relative;
    left: 0;
    height: 70vh;
    width: 100vw;
    justify-content: center;
    margin-top: 60px;
  }

  .AboveFold-hero {
    max-width: 70%;
    max-height: 100%;
  }

  .AboveFold-main-container > .LogoName {
    position: relative;
    top: 0;
    margin: 50px 0 50px;
  }

  .AboveFold-title {
    font-weight: 400 !important;
  }

  .AboveFold {
    text-align: center;
  }
}

@media only screen and (max-width: 420px) {
  .AboveFold {
    padding-bottom: 20px;
  }

  .AboveFold-main-container {
    margin-top: 0px;
  }

  .AboveFold-title {
    font-size: 40px !important;
  }

  .AboveFold-subtitle {
    margin-bottom: 40px !important;
  }

  .AboveFold-hero-container {
    position: relative;
    left: 0;
    height: 70vh;
    width: 100vw;
    justify-content: center;
    margin-top: 20px;
  }
}
