.Authors {
  padding: var(--vert-spacer) 0;
  background-image: linear-gradient(
    345deg,
    var(--blue-light) 0,
    var(--blue) 50%,
    var(--blue-dark) 100%
  );
}

.Authors-header {
  margin-bottom: calc(var(--vert-spacer) + 30px) !important;
  text-align: center;
  color: white !important;
}

.Authors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Author {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 370px;
  width: 30vw;
  max-width: 500px;
  padding: 32px;
  margin: 0 5vw;
}

.Author-avatar {
  order: -1;
  width: 100px !important;
  height: 100px !important;
}

.Author-name {
  order: -1;
  margin-top: 16px !important;
  text-align: center;
}

.Author-twitter {
  display: flex;
  align-items: center;
  padding: 8px 40px 20px;
  margin-right: 7px; /* make feel more balanced w/ avatar */
  font-family: var(--code);
}

.Author-twitter > .TwitterLogo {
  margin-right: 2px;
  width: 30px;
  height: 30px;
}

.Author-twitter > .TwitterLogo * {
  fill: #1da1f2;
}

.Author-twitter:hover + .Author-avatar {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.Author-description {
  margin-top: 5px;
}

@media only screen and (max-width: 450px) {
  .Authors-header {
    margin-bottom: var(--vert-spacer) !important;
  }

  .Authors-header img:first-child {
    display: none;
  }

  .Author {
    min-width: 80vw;
  }
}

@media only screen and (max-width: 924px) {
  .Author:first-child {
    margin-bottom: var(--vert-spacer);
  }
}
