.Package {
  position: relative;
  width: 310px;
  margin: 0 calc(5px + 1vw);
  --package-padding: 10px 20px;
  --package-font: 0.875rem;
}

.Package:not(.recommended) {
  margin-top: 80px;
}
.Package.recommended > .Package-header {
  height: 230px;
}
.Package.recommended .Package-name {
  margin-top: 100px !important; /* 20 normal + extra */
}

.Package.pro {
  min-height: 1050px;
}

.Package-recommendation {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  font-size: 24px;
}

.Package-header {
  position: relative;
  height: 150px;
  overflow: hidden;
  text-align: center;
}

.Package-header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skewY(-5deg);
  transform-origin: top left;
}

.Package.gray .Package-header-bg {
  background-image: linear-gradient(var(--gray600), var(--gray300));
}

.Package.purple .Package-header-bg {
  background-image: linear-gradient(var(--purple600), var(--purple300));
}

.Package.blue .Package-header-bg {
  background-image: linear-gradient(var(--blue-dark), var(--blue-light));
}

.Package.pink .Package-header-bg {
  background-image: linear-gradient(var(--pink), var(--pink-light));
}

.Package.green .Package-header-bg {
  background-image: linear-gradient(var(--green600), var(--green300));
}

.Package-name {
  position: relative; /* otherwise hidden by header-bg */
  margin: 20px 0 15px !important;
  color: white !important;
}

.Package-price {
  position: relative;
  color: white !important;
}

.Package-price:before {
  position: absolute;
  left: calc(50% - 34px);
  bottom: 5px;
  content: '$ ';
  font-size: 0.6em;
}

.Package-price.two-digits:before {
  left: calc(50% - 27px);
}

.Package-price.four-digits:before {
  left: calc(50% - 48px);
}

.Package-price.four-digits:after {
  content: '+';
  margin-left: 3px;
}

.Package-features {
  padding: 20px 0;
  list-style-type: none;
  line-height: 1.1em;
}

.Package-features > div,
.Package-features > li {
  /* needed to make hr visible in prod. no idea why 😆 */
  margin: 9px 0;
}

.Package-features li {
  padding: var(--package-padding);
  font-size: var(--package-font);
}

.Package-features hr {
  width: calc(100% - 40px);
  border-top: none;
  opacity: 0.5;
}

.Package.blue hr {
  border-color: var(--blue);
  background-color: var(--blue);
  color: var(--blue);
}

.Package.gray hr {
  border-color: var(--gray600);
  background-color: var(--gray600);
  color: var(--gray600);
}

.Package.purple hr {
  border-color: var(--purple300);
  background-color: var(--purple300);
  color: var(--purple300);
}

.Package.green hr {
  border-color: var(--green600);
  background-color: var(--green600);
  color: var(--green600);
}

.Package.pink hr {
  border-color: var(--pink);
  background-color: var(--pink);
  color: var(--pink);
}

.Payment-team {
  text-align: center;
  padding: 0 20px;
}

.Package-feature-list {
  margin-bottom: 0.6em;
}

.Package-feature-list.full {
  font-weight: bold;
}

.Package-extra-item {
  margin-left: 2em;
}

.Package-tshirt {
  width: 100%;
  margin: 10px 0;
}

.Package-feature-header.-upon-completion {
  margin-top: 20px;
}
