.Payment {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Payment.full,
.Payment.team {
  position: relative;
}

.Payment-stripe {
  margin-bottom: 10px !important;
}

.Package.team .Payment-stripe {
  background-color: var(--green600);
  color: white;
}

.Payment-type {
  margin-bottom: 20px !important;
}

.Payment-licenses {
  width: 200px;
  margin-bottom: 50px !important;
}

/* three columns */
/* @media only screen and (max-width: 1391px) {
  .Package.training {
    order: 3;
  }
  .Package.full {
    order: 2;
  }
  .Package.pro {
    order: 1;
  }
  .Package.basic {
    order: 4;
  }
  .Package.basic .Payment {
    position: relative;
  }
} */

/* two columns */
@media only screen and (max-width: 1021px) {
  .Package.training {
    order: 2;
  }
  .Package.full {
    order: 1;
  }
  .Package.pro {
    order: 4;
  }
  .Package.basic {
    order: 3;
  }
  .Package.basic .Payment {
    position: absolute;
  }
}

/* one column */

@media only screen and (max-width: 667px) {
  .Package.training {
    order: 1;
  }
  .Package.full {
    order: 2;
    margin-top: 80px;
  }
  .Package.pro {
    order: 3;
  }
  .Package.basic {
    order: 4;
  }
  .Payment {
    position: relative;
  }
  .Package.basic .Payment {
    position: relative;
  }
  .Pricing {
    padding-top: 0;
  }
}
