.TshirtOrderForm {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.TshirtOrderForm > * {
  margin-top: 20px !important;
}

.TshirtOrderForm-sizes {
  display: flex;
  justify-content: space-around;
}

.TshirtOrderForm-address {
  padding: 15px 0;
  text-align: center;
}

.TshirtOrderForm-email-order {
  padding-top: 20px;
  text-align: center;
}
